/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

h1.av-special-heading-tag, .main_color h1 {
	background:#da0812;
	color:white;
	padding:2px 10px 2px 10px !important;
	display:inline;
}

#header_meta {
	background:#da0812;
}

#header_main {
	padding:15px;
}

.header_color .primary-background, .header_color .primary-background a, div .header_color .button, .header_color #submit, .header_color input[type='submit'], .header_color .small-preview:hover, .header_color .avia-menu-fx, .header_color .avia-menu-fx .avia-arrow, .header_color.iconbox_top .iconbox_icon, .header_color .iconbox_top a.iconbox_icon:hover, .header_color .avia-data-table th.avia-highlight-col, .header_color .avia-color-theme-color, .header_color .avia-color-theme-color:hover, .header_color .image-overlay .image-overlay-inside:before, .header_color .comment-count, .header_color .av_dropcap2, #top #wrap_all .header_color .av-menu-button-colored > a .avia-menu-text, .header_color .av-colored-style .av-countdown-cell-inner, .responsive #top .header_color .av-open-submenu.av-subnav-menu > li > a:hover, #top .header_color .av-open-submenu.av-subnav-menu li > ul a:hover {
	background-color:transparent;
}
	
.av-main-nav li:hover .avia-menu-fx, .current-menu-item > a > .avia-menu-fx, .av-main-nav li:hover .current_page_item > a > .avia-menu-fx {
	visibility:hidden;
}

.header_color .main_menu ul:first-child > li.active-parent-item > a, .header_color .main_menu ul:first-child > li a:hover, .header_color .main_menu ul:first-child li:hover a, .header_color .main_menu ul:first-child > li.current-menu-item > a {
	background:#da0812;
	color:white;
}
.header_color .main_menu ul:first-child > li.menu-item-language a:hover {
	background:none;
}

.header_color .main_menu ul li:hover .sub-menu li a {
	background:white;
	color:#808080;
}
.header_color .main_menu ul:first-child .sub-menu li a:hover {
	background:#f8f8f8;
}
.av-main-nav > li > a {
	font-size:16px;
}
body .column-top-margin {
	margin-top: 25px;
}
.avia_textblock {
	margin-top:-0.85em;
}

.avia_wpml_language_switch li .language_flag img {
	border:none;
}

div .logo {
	position:relative;
	max-width:420px;
}
.slide-entry-wrap .slide-entry.flex_column.post-entry {
	background:#F0F0F0;
	padding:10px;
}
.slide-entry-anriss-text {
    height: 84px;
    overflow: hidden;
	color:black;
}



.slide-entry-wrap .slide-entry {
	width:100%;
	max-width:248px;
	margin: 0 5% 15px 0;
	float:left;
}
.slide-entry-wrap .av_one_fourth {
	margin-left:0px;
}
.slide-entry-wrap .post-entry-last.av_one_fourth {
	margin-right:0px;
}

.teddyspace {
	height:100px;
}
.teddybaer {
	position:absolute;
	top:-140px;
}

.fcwfooterlogo {
	width:50px;
	float:right;
}
#footer .widget {
	overflow:visible;
}
.footer_color {
	border:none;
}

.socials {
}
.socials img {
	width:37px;
	float:left;
	margin:15px 0px 0px 15px;
}
.socials a img {
	border:none;
}


/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */
	
	
	#header_main .container {
		height:auto;
	}
	
	.main_menu ul:first-child > li a {
		/*height:30px;*/
		line-height:inherit;
	}
	.avia-menu.av-main-nav-wrap {
		height:auto;
	}
	#avia-menu {
		margin-top:25px;
	}
	#top #header_main > .container .main_menu ul:first-child > li > a {
		line-height:30px !important;
		height:30px !important;
	}
}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */
	.responsive #top #wrap_all .slide-entry {
		width:100%;
		margin:4% 4% 0 0;
		max-width:248px;
		float:left;
	}
	.responsive #top #wrap_all .avia-content-slider-even .slide-entry.slide-parity-odd, .responsive #top #wrap_all .avia-content-slider-odd .slide-entry.slide-parity-even {
		margin:4% 4% 0 0;
	}
	.responsive #top .logo {
		width:70%;
	}
	.teddyspace {
		display:none;
	}
	.teddybaer {
		display:none;
	}
}
@media only screen and (max-width: 651px) {
	.responsive #top #wrap_all .slide-entry {
		width:100%;
		margin:4% auto 0 auto;
		max-width:248px;
		float:none;
	}
	.responsive #top #wrap_all .avia-content-slider-even .slide-entry.slide-parity-odd, .responsive #top #wrap_all .avia-content-slider-odd .slide-entry.slide-parity-even {
		margin:4% auto 0 auto;
	}
}
@media only screen and (max-width: 410px) {
	.responsive #top .logo {
		width:60%;
	}
}